.bookshopping-menu {
  height: 5rem;
}

.bkshop-logo {
  margin-right: auto;
}

.member-body {
  width: 100%;
  height: 840px;
}

.margintop {
  margin-top: 30px;
}

.membercentre-laft {
  width: 35%;
}

.membercentre-right {
  width: 100%;
  padding-left: 50px;
}

.membercentre-titletext {
  margin-top: 10px;
  text-align: center;
  height: 70px;
  margin-bottom: 20px;
}

.membercentre-titletext h2 {
  font-weight: bold;
}

.member-menu {
  margin-top: 20px;
}

.memberpage-brief {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #ddd;
}

.membercentre-laft-title {
  text-overflow: ellipsis;
  color: #000;
  font-weight: 600;
  overflow: hidden;
}

.member-edit a {
  font-weight: 600;
  text-align: center;
  color: #888;
}

.memebr-menu-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.memebr-menu-li {
  margin: 10px 0;
  padding: 0 25%;
}

.memebr-menu-a-text {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  display: block;
  width: auto;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.memebr-menu-a-text:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 30px;
  background: #ddd;
  -webkit-box-shadow: 1px 1px 1px #888;
          box-shadow: 1px 1px 1px #888;
}

.member-row {
  margin-bottom: 30px;
  width: 60%;
}

.member-input-textbox {
  margin: 0 15px;
  width: 100%;
}

.member-input-textbox-input {
  width: 100%;
  border: none;
  border-bottom: #ddd solid 1px;
}

.member-input-textbox-input:focus {
  outline: none;
  border-bottom: #ddd solid 2px;
}

.member-input-label-item {
  width: 20%;
  font-weight: bold;
}

.member-input-selectbox {
  width: 100px;
}

.member-show-button {
  background: #ddd;
  border: #ddd 1px solid;
  width: 70px;
}

.member-show-button:hover {
  background: #b7b7b7;
}

.modify-password-row-block {
  font-weight: bold;
  width: 60%;
}

.member-input-label {
  width: 40%;
}

.membercentre-submit-button {
  background: #ddd;
  border: #ddd 1px solid;
  width: 90px;
}

.membercentre-submit-button:hover {
  background: #b7b7b7;
}

.membercentre-footerbuttonbox {
  margin-top: 90px;
  text-align: end;
}

.membercentre-centerbuttonbox {
  margin-top: 5px;
  text-align: end;
}

.membercenter-orderdetail-block {
  width: 100%;
  margin-bottom: 20px;
}

.membercenter-orderdetail-block-header {
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(#000, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 1px 1px 1px #888;
          box-shadow: 1px 1px 1px #888;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 1px #888;
}

.membercenter-orderdetail-center-block {
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(221, 221, 221, 0.5);
  -webkit-transition: background .3s;
  transition: background .3s;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px #888;
          box-shadow: 1px 1px 1px #888;
}

.membercenter-orderdetail-center-block:hover {
  -webkit-transition: background .3s;
  transition: background .3s;
  background: #ddd;
}

.order-box {
  width: 25%;
  margin: 0 20PX;
  padding: 10px;
}

.membercenter-order-center-item {
    text-align: center;
    position: relative;
}

.membercente-sohw-orderdatil:hover {
  font-size: 15px;
}

.visibility-button {
  cursor: pointer;
}

.visibility-button:hover .membercenter-order-shopping-stasus {
  border-radius: 10px;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.membercenter-order-shopping-stasus {
  background-color: rgba(49, 56, 63, 0.95);
  width: 600px;
  height: 90px;
  z-index: 5;
  display: none;
  position: absolute;
  left: -240%;
}

.membercenter-order-shipping-progress {
  counter-reset: step;
}

.membercenter-order-shipping-progress li.active {
  color: #8cff91;
}

.membercenter-order-shipping-progress li.active::before {
  border-color: #8cff91;
}

.membercenter-order-shipping-progress li.active + li::after {
  background-color: #8cff91;
}

.membercenter-order-shipping-progress li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  color: #fff;
}

.membercenter-order-shipping-progress li::before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 10px auto;
  border-radius: 50%;
  background-color: #fff;
  color: #31383f;
}

.membercenter-order-shipping-progress li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 25px;
  left: -50%;
  z-index: -1;
}

.membercenter-order-shipping-progress li:first-child:after {
  content: none;
}
/*# sourceMappingURL=member-stylesheet.css.map */