.bookshopping-sidemenulist {
    display: none;
}

.sidebar_title-hidden {
    display: none;
}

@media screen and (max-width:1140px) {
    .container {
        width: 960px;
    }

    .bkshop-searchbox {
        margin: 0 25px;
    }

    .book-item > a {
        padding: 0 10px;
    }

    .product-card-block {
        height: 400px;
    }

    .pc-img {
        height: auto;
    }
    .member-input-label-item {
        width: 30%;
    }
    .membercenter-order-shopping-stasus {
        width:480px;
    }
    .order-box {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media screen and (max-width:880px) {
    .container {
        width: 740px;
    }

    .bkshop-logo {
        width: 80%;
        margin-right: auto;
    }

    .newest-tab-block {
        margin-bottom: 20px;
    }

    .bookshopping-sidemenulist {
        display: block;
        background-color: transparent;
        font-size: 30px;
        margin-right: 35%;
        border: none;
    }

        .bookshopping-sidemenulist:focus {
            outline: none;
        }

    .bkshop-searchbox {
        width: 0%;
        position: fixed;
        top: 80px;
        left: 0;
        margin: 0;
        background: #ffffff;
        transition: .3s width;
        overflow: hidden;
    }

    .search {
        width: 90%;
    }

        .search input {
            width: 100%;
        }

    .bkshop-nav {
        position: fixed;
        top: 160px;
        left: 0;
        background: #ffffff;
        width: 0%;
        height: 100%;
        transition: .3s width;
        overflow: hidden;
        box-sizing: border-box;
    }

    .bookmobile-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bookmobile-menu-item {
        width: 50%;
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }

    .product-card-out-block {
        width: 50%;
    }

    .sorting-display-list-style {
        max-height: none;
    }

        .sorting-display-list-style .product-card-out-block {
            height: auto;
        }

    .product-card-block {
        height: 100%;
        padding: 10px;
    }

    .service-block ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .service-block ul li {
            width: 80%;
            margin-bottom: 10px;
        }

    .blockright {
        font-size: 25px;
    }

    .index-block-left {
        height: 400px;
    }

    .index-block-right {
        height: 400px;
    }

    .index-blog {
        height: 500px;
    }

    .product-price-span {
        padding-right: 10px;
    }

    .product-card-discount-text {
        font-size: 25px;
    }

    .product-card-des-text {
        font-size: 20px;
    }

    .function-button-inner {
        background-color: transparent;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .principle-out-block:hover .function-button-inner {
        background-color: transparent;
        color: black;
    }

    .allbooks {
        position: relative;
    }

    .sidebar_title {
        display: none;
    }

    .sidebarbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }

    .sidebar {
        position: absolute;
        z-index: 10;
        background: rgba(255, 255, 255, .7);
        left: 80px;
        top: 70px;
        width: 242px;
        text-align: center;
        font-size: 1.25rem;
    }

    .books-block {
        margin: 0;
    }

    .sidebar_title-hidden {
        display: block;
        margin-right: 20px;
    }

        .sidebar_title-hidden button {
            background-color: white;
            border: none;
            font-weight: bold;
            font-size: 1.25rem;
        }

            .sidebar_title-hidden button:focus {
                outline: none;
            }

    .forget-password-block {
        width: 80%;
    }

    .sidebar .sidebar-hidden-block {
        display: block;
    }

    .sort-div {
        margin: 0;
    }

    .backgroundcolr a:hover {
        color: #ff0000;
    }

    .product-card-title {
        font-size: 1.2rem;
    }
    .memebr-menu-li {
        padding: 0;
    }

    .membercentre-laft {
        width: 50%;
    }

    .member-row {
        width: 100%;
    }

    .member-input-textbox {
        width: 100%;
    }
    .function-button-inner .blockleft-images-one {
        margin: 0;
    }
    .function-button-inner .blockleft-images-two {
        margin: 0;
    }
    .function-button-inner .blockleft-images-three {
        margin: 0;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 90%;
    }

    .index-block-left {
        height: 350px;
    }

    .index-block-right {
        height: 350px;
        padding-right: 10px;
    }

    .index-blog {
        height: 450px;
    }

    .bookshopping-sidemenulist {
        margin-right: 20px;
    }

    .bigimage-detail {
        padding-top: 80px;
    }

    .product-card-block {
        flex-direction: column;
    }

        .product-card-block .product-card-img-block {
            width: 100%;
            justify-content: center;
        }

}

@media screen and (max-width:640px) {
    .product-card-out-block {
        width: 100%;
    }

    .index-block-right {
        left: 0;
        display: flex;
        width: 100%;
        height: 250px;
        padding: 50px 0 0;
    }

    .block-right-image {
        margin-right: 15px;
    }

    .index-blog-column {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .index-block-left {
        width: 50%;
    }

    .index-blog {
        height: auto;
    }

    .sidebar {
        left: 0;
        width: 180px;
    }

    .service-block ul li {
        width: 100%;
        margin-bottom: 10px;
    }

    .blockright {
        font-size: 22px;
    }

    .blockleft {
        margin: 0;
    }

    .footer-column-item-list.contact-icon-list .footer-list-item {
        width: 50%;
    }

    .footer-column-item-list.contact-icon-list {
        flex-wrap: wrap;
    }

    .newest-tab-title-row {
        display: flex;
        flex-direction: column;
    }

    .bigimage-detail {
        padding-top: 50px;
    }

    .desc {
        display: none;
    }
    .member-input-label-item {
        width:50%;
    }
    .member-input-label {
        width:50%;
    }
}


@media screen and (max-width:450px) {
    .container {
        width: 100%;
    }
    .center-text {
        font-size: 70px;
        line-height: 1.1;
    }
}

@media screen and (max-width:375px) {

    .bookshopping-sidemenulist {
        margin:0;
    }
    .bkshop-logo {
        width:60%;
    }
    .center-text {
        font-size: 50px;
        line-height: 1.1;
    }
    .index-block-right {
        flex-wrap:wrap;
    }
    .block-right-image {
        width:100%;
        margin:0;
    }
    .index-block-left {
        margin-top: 50px;
        width: 80%;
    }

}
@media screen and (max-width:350px) {
    .container {
        padding: 0;
    }

    .bookshopping-sidemenulist {
        margin: 0;
    }
    .index-block-right {
        padding:0;
    }
    .center-text {
        font-size: 30px;
        line-height: 1;
    }


    .block-right-image {
        width: 100%;
        margin: 0;
    }

    .index-bigimage-box {
        height: 450px;
    }

    .bottom-text {
        line-height: 1.5;
    }

    .block-right-text {
        padding: 20px 5px 0 15px;
    }
}
