@model IEnumerable<MvcProjectTest.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.cardIndex = 0;
}


<div class="books_section">
    <div class="container">
        <!-- Breadcrumbs  套版bootstrap-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home.html">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">瀏覽商品</li>
            </ol>
        </nav>
        <!-- 分類 -->
        <div class="allbooks d-flex">
            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>商品總類</h5>
                    </div>
                    <ul class="sidebar_categories">
                        <li class="active">
                            <a href="#">
                                <span>
                                    <i class="fa fa-angle-double-right"
                                       aria-hidden="true"></i>
                                </span>優惠特區
                            </a>
                        </li>
                        <li><a href="#">新品</a></li>
                        <li><a href="#">分類1</a></li>
                        <li><a href="#">分類2</a></li>
                        <li><a href="#">分類3</a></li>
                    </ul>
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>價格範圍</h5>
                    </div>
                    <p>
                        <input type="text" class="all-view-sidebar-price-range-text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>

                    <div id="slider-range"></div>

                    <div class="filter_button"><span>篩選</span></div>
                </div>
            </div>
            <div class="books-block">
                <div class="sort-div">
                    <select class="all-book-category-select" name="all-book-category" id="all-book-category-dropdown">
                        <option value="1" selected>預設排序</option>
                        <option value="2">價格低至高</option>
                        <option value="3">價格高至低</option>
                        <option value="4">熱銷書</option>
                        <option value="5">ISBN</option>

                    </select>
                    <div class="present-sorting">
                        <button class="present-sorting-button sorting-display-js" id="sorting-display-list-button"><i class="fas fa-list-ul"></i></button>
                        <button class="present-sorting-button sorting-display-js" id="sorting-display-grid-button"><i class="fas fa-th active"></i></button>


                    </div>
                </div>
                <!-- 書 -->
                <div class="row sorting-display" id="sorting-display-items-block">
                    <!-- Product 1 -->
                    @foreach (var item in Model)
                    {
                        ViewBag.cardIndex++;
                        @Html.Partial("_ProductCardPartial", item)
                    }
                    <!-- Product Sorting -->
                </div>
            </div>
        </div>
    </div>
</div>


@section topCss {
    <link href="~/Assets/Css/AllBooks_stylesheet.css" rel="stylesheet" />
    <link href="~/Assets/Css/product-item-block-stylesheet.css" rel="stylesheet" />
    <link href="~/Assets/Css/new-product-card.css" rel="stylesheet" />
    <link href="~/Assets/Css/for-change-style.css" rel="stylesheet" />
    <link href="~/Assets/Css/item-quick-look.css" rel="stylesheet" />
    <link href="~/Assets/Css/override-jquery-ui-dialog.css" rel="stylesheet" />
    <link href="~/Assets/Css/override-jquery-ui-slide-bar.css" rel="stylesheet" />
}
@section scripts {
    <script>
        $(function () {


            // 預設是哪個就留另一個
            $("#sorting-display-list-button").click(sorting_List_Event);
            // $("#sorting-display-grid-button").click(sorting_Grid_Event);


            function sorting_List_Event() {
                $(".sorting-display-js i").toggleClass("active");
                $("#sorting-display-items-block").attr("class", "sorting-display-list-style");
                $(this).off("click");
                $("#sorting-display-grid-button").click(sorting_Grid_Event);
            }

            function sorting_Grid_Event() {
                $(".sorting-display-js i").toggleClass("active");
                $("#sorting-display-items-block").attr("class", "row sorting-display");
                $(this).off("click");
                $("#sorting-display-list-button").click(sorting_List_Event);
            }


        });


    </script>
    

    

    <!-- 拉桿用 新板 -->
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 2000,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
}
