@using MvcProjectTest.ViewModels;

@model IEnumerable<ShoppingCartViewModel>

@{
    int bookCount = 0;
    int total = 0;
    int subtotal = 0;
    var HoverCart = new List<ShoppingCartViewModel>();
}

@foreach (var booklist in Model)
{
    HoverCart.Add(booklist);
}

@{
    HoverCart.Reverse();
    var new5book = new List<ShoppingCartViewModel>();

    for (var i = 0; i < 5; i++)
    {
        new5book.Add(HoverCart[i]);
    }
}

<ul class="book-item-list book-item-list-right">
    <li class="book-item book-item-has-children">
        <a href="#">最近加入的商品</a>

        <ul class="book-last-list maxheight">
            @foreach (var book in new5book)
            {
                if (book.Discount != 0)
                {
                    subtotal = (int)(book.UnitPrice * (1 - book.Discount) * book.Quantity);
                }
                else
                {
                    subtotal = (int)(book.UnitPrice * book.Quantity);
                }

                <li class=" book-last-item">
                    <div class="hover-car-product-item flex">

                        <div class="hover-car-product-imagebox">
                            <img class="hover-car-product-image" src="@book.BookImage" alt="">
                        </div>

                        <div class="hover-car-product-namebox">
                            <div class="hover-car-product-name">
                                <span>@book.BooksName</span>
                            </div>
                            <div class="hover-car-product-text flex">
                                <p class="hover-car-product-price">@subtotal 元</p>
                                <div class="hover-car-product-delete">
                                    <a class="hover-car-product-delete-text" href="#">刪除</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            }
        </ul>
        <div class="hover-check-car-box">
            <div class="hover-check-car-price">
                @{ 
                    total = 0;
                    subtotal = 0;
                    bookCount = 0;
                    foreach(var book in HoverCart)
                    {
                        if (book.Discount != 0)
                        {
                            subtotal = (int)(book.UnitPrice * (1 - book.Discount) * book.Quantity);
                        }
                        else
                        {
                            subtotal = (int)(book.UnitPrice * book.Quantity);
                        }
                        total = total + subtotal;
                        bookCount++;
                    }
                }
                <span>當前商品數: @bookCount 項</span><br />
                <span>當前總金額:</span>
                <span>@total 元</span>
            </div>
            <div class="hover-gotoshopping-car flex">
                <a class="hover-gotoshoppingcar-button" href="Shopping">查看購物車</a>
            </div>
        </div>
    </li>
</ul>