
@if (Request.IsAuthenticated)
{    
      <li class="book-item book-item-has-children">Hello,@User.Identity.Name</li>
      <li class="book-item book-item-has-children">@Html.ActionLink(" 登出 ", "SignOut", "Account")</li> 
}
else
{    
      <li class="book-item book-item-has-children">@Html.ActionLink(" Sign In", "Login", "Account")</li>
      <li class="book-item book-item-has-children">@Html.ActionLink(" Sign Up", "Registration", "Account")</li>                               
}
