
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@Styles.Render("~/css/indexView")

<div class="bookshopping-aboutus-body">
    <div class="bookshopping-aboutus-container">
        <h2 class="about-us-title">About Us</h2>
        <div class="bookshopping-aboutus-block flex">
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox ">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCss{
    <link href="~/Assets/Css/index-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/item-quick-look.css" rel="stylesheet" />
    <link href="~/Assets/Css/override-jquery-ui-dialog.css" rel="stylesheet" />
    <link href="~/Assets/Css/newest-tab-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/aboutus.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" rel="stylesheet" />
}




