
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@Styles.Render("~/css/indexView")

<div class="bookshopping-aboutus-body">
    <div class="container">
        <h2 class="about-us-title">About Us</h2>
        <div class="bookshopping-aboutus-block flex">
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/Abbieke222.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">柯佩君</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/" target="_blank" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s--C8bxRjzLUsS_rZn20KCQfA--/abbieke222" target="_blank" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>abbieke222@gmail.com</span> </p>
                        <p>Phone : <span>0972925286</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            在這個專案中，能看到團隊間的互助合作，以及成員間對知識與技術的熱忱，我很榮幸能夠成為大家的組長，開發的過程中雖然發生了不少事但都一一克服了，真的很開心能在這裡留下我們一起努力的證明。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/carbon.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">李蕙汝</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/huirululu" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/mini850929" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>mini850929@gmail.com</span> </p>
                        <p>Phone : <span>0976116413</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            在這MVC專題中，雖然一開始就遭遇到版面大改版的挑戰，但因為有組員互相協助，使我們專題能夠突破這些困難，也謝謝組員們能夠在最後一刻都堅持下來，讓專題變完整。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/BigWhite1.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox ">
                        <h2 class="bookshopping-aboutus-name">劉育禎</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/yogingliu" class="hvr-grow" target="_blank"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s---EEnd2eo4aIzoeSMHw4xww--/yogingliu" target="_blank" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>lbigwhite0321@gmail.com</span> </p>
                        <p>Phone : <span>0910678203</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            劈哩啪啦，夜半的空傳來脆響，沒有如期的煙花，爆肝爆的絢爛如花。<br />
                            一墨傾瀉，空白的面現出字句，沒有滴落的墨跡，代碼自在螢幕閃亮。<br />
                            盼過無數個日夜，候著Demo完專題畢業，成果很美，但好想睡。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/yoyoyo5420.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">郭芷庭</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/kakusanOuO" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s--xWDuSzk513I63b2R1V3Y9A--/yoyoyo5420" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>yoyoyo5420@gmail.com</span> </p>
                        <p>Phone : <span>0980103350</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            第一次參與團隊開發專案，很多東西都是沒碰過的，需要不斷查詢資料和文件，很緊張怕做不好，但團員都很盡心的輔助我，對此我很感謝一直鼓勵我的團員們，是你們讓我能勇敢去做到最好，也很感謝佩君邀請我進入妳的團隊，Wish us all the best。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/penguin1011.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">簡品柔</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/penguin0408" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href=" https://www.cakeresume.com/joyce-1011" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>j0970354967@gmail.com.tw</span> </p>
                        <p>Phone : <span>0989121758</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            這個專案讓我學到了很多東西。感謝育禎跟碳碳在我一度快撐不下去心灰意冷的時候給我鼓勵在我身邊協助我。感謝組員對我的幫助與照顧，雖然我做得真的很慢但是你們也不會催促我，給我一定的時間去完成他。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/1G1G1G1G.jpg" alt="1G"/>
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">周奕鈞</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/jay5eternal" target="_blank"  class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s--yOv8WEVM3MVUDB6DFPifeA--/jay5eternal" target="_blank" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>jay5eternal@gmail.com</span> </p>
                        <p>Phone : <span>0975013108</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            能和大家從無到有完成一個MVC網站覺得很有成就感，尤其要感謝前端的同學，原本大家打算部參考別的網站自己刻一個出來，後來因為進度太慢才決定參考別人的網站刻，歷經一個版面的大改動最後還能如期完成，刻出來的網頁都能符合大家的預期，從中學到了團隊溝通和協力開發，大家辛苦了!
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/gnkn19930225.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">郭威志</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/gnkn19930225" target="_blank" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>gnkn19930225@gmail</span> </p>
                        <p>Phone : <span>0988077790</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            很高興有參與這個專題，跟小組慢慢完成這個專案，雖然學習速度可能沒有預期中的快速，但多虧了組員的從旁協助，使我能順利的完成這項挑戰。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCss{
    <link href="~/Assets/Css/index-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/item-quick-look.css" rel="stylesheet" />
    <link href="~/Assets/Css/override-jquery-ui-dialog.css" rel="stylesheet" />
    <link href="~/Assets/Css/newest-tab-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/aboutus.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" rel="stylesheet" />
}




