
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@Styles.Render("~/css/indexView")

<div class="bookshopping-aboutus-body">
    <div class="bookshopping-aboutus-container">
        <h2 class="about-us-title">About Us</h2>
        <div class="bookshopping-aboutus-block flex">
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/Abbieke222.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">柯佩君</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s--C8bxRjzLUsS_rZn20KCQfA--/abbieke222" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>abbieke222@gmail.com</span> </p>
                        <p>Phone : <span>0972925286</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            在這個專案中，能看到團隊間的互助合作，以及成員間對知識與技術的熱忱，我很榮幸能夠成為大家的組長，開發的過程中雖然發生了不少事但都一一克服了，真的很開心能在這裡留下我們一起努力的證明。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/BigWhite1.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox ">
                        <h2 class="bookshopping-aboutus-name">劉育禎</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/yogingliu" class="hvr-grow" target="_blank"> <i class="fab fa-github"></i></a>
                        <a href="https://www.cakeresume.com/s---EEnd2eo4aIzoeSMHw4xww--/yogingliu" target="_blank" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>lbigwhite0321@gmail.com</span> </p>
                        <p>Phone : <span>0910678203</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            劈哩啪啦，夜半的空傳來脆響，沒有如期的煙花，爆肝爆的絢爛如花。<br />
                            一墨傾瀉，空白的面現出字句，沒有滴落的墨跡，代碼自在螢幕閃亮。<br />
                            盼過無數個日夜，候著Demo完專題畢業，成果很美，但好想睡。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="https://randomuser.me/api/portraits/men/97.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">唷唷唷</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="#" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>123456789@gmail.com</span> </p>
                        <p>Phone : <span>0123456789</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            前工到大員動，一期我關們：這國麼在皮真投總筆的勢最價戲視山是廣房聲看關地哥路角時天他廣天展。

                            分料書麼向聲他善……因業他玩公去安直會，當我金能了長要究了路有省滿認大主課簡晚國食城車景地國了往賽發以國個者能要失根內好面地內出員有市。
                        </p>
                    </div>
                </div>
            </div>
            <div class="bookshopping-aboutus-box hvr-grow-shadow">
                <div class="bookshopping-aboutus-imagebox">
                    <img class="usphoto-image" src="~/Assets/Images/Admin/gnkn19930225.jpg" alt="">
                </div>
                <div class="bookshopping-aboutus-contentbox">
                    <div class="bookshopping-aboutus-namekbox">
                        <h2 class="bookshopping-aboutus-name">郭威志</h2>
                    </div>
                    <div class="bookshopping-aboutus-linkbox">
                        <a href="https://github.com/gnkn19930225" class="hvr-grow"> <i class="fab fa-github"></i></a>
                        <a href="#" class="hvr-grow"><i class="far fa-address-card"></i></a>
                    </div>
                    <div class="bookshopping-aboutus-contactbox">
                        <p>Email : <span>gnkn19930225@gmail</span> </p>
                        <p>Phone : <span>0988077790</span> </p>
                    </div>
                    <div class="bookshopping-aboutus-textbox">
                        <p>
                            很高興有餐與這個專題，跟小組慢慢完成這個專案，雖然學習速度可能沒有預期中的快速，但多虧了組員的從旁協助，使我能順利的完成這項挑戰。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCss{
    <link href="~/Assets/Css/index-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/item-quick-look.css" rel="stylesheet" />
    <link href="~/Assets/Css/override-jquery-ui-dialog.css" rel="stylesheet" />
    <link href="~/Assets/Css/newest-tab-block.css" rel="stylesheet" />
    <link href="~/Assets/Css/aboutus.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" rel="stylesheet" />
}




