
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_BackStageLayout.cshtml";
}



<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>會員明細</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>會員基本資訊<a href="CustomerIndex.html"><small>Back to list</small></a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown" style="visibility: hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <!-- start form for validation -->
                    <!-- 撈資料庫的 -->

                    <div class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookID">
                                BookID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的編號
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookName">
                                BookName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookName" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的書名
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PressID">
                                PressID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="PressID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的出版社
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CategoryID">
                                CategoryID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="CategoryID" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">這是一本書的種類</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AuthorID">
                                AuthorID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="AuthorID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的作者名
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UnitPrice">
                                UnitPrice
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="UnitPrice" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">這是一本書的價錢</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InStock">
                                InStock
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="InStock" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的庫存
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Discount">
                                Discount
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="Discount" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的折扣
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ISBN">
                                ISBN
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="ISBN" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    這是一本書的ISBN
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookImage">
                                BookImage
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookImage" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">這是一本書的圖片名稱</p>
                            </div>
                        </div>
                    </div>

                    <!-- end form for validations -->

                </div>
            </div>


        </div>

    </div>
</div>

@Scripts.Render("~/Back-Script/BackCustomerDetails")

