
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_BackStageLayout.cshtml";
}

@Styles.Render("~/Back-css/BackCustomerDetails")
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>訂單明細</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>訂單基本資訊<a href="OrderIndex.html"><small>Back to list</small></a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown" style="visibility: hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <!-- start form for validation -->
                    <!-- 撈資料庫的 -->

                    <div class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNo">
                                OrderNo
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="OrderNo" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    AS0000001
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CustomerID">
                                CustomerID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="CustomerID" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    1
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderDate">
                                OrderDate
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="OrderDate" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">2019-06-05 14:00:00</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PayWay">
                                PayWay
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="PayWay" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    信用卡
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DeliveryMethod">
                                DeliveryMethod
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="DeliveryMethod" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    宅配
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TotalPrice">
                                TotalPrice
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="TotalPrice" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">700.0000</p>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Recipient">
                                Recipient
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="Recipient" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    王維俊
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RecipientPhone">
                                RecipientPhone
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="RecipientPhone" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    0988-055-666
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RecipientEmail">
                                RecipientEmail
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="RecipientEmail" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    abbieke0222@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RecipientAddress">
                                RecipientAddress
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="RecipientAddress" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">新竹市香山區</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ShippingRate">
                                ShippingRate
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="ShippingRate" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">50.0000</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderStatus">
                                OrderStatus
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="OrderStatus" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">已出貨</p>
                            </div>
                        </div>
                    </div>
                    <!-- end form for validations -->

                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>訂單商品資訊</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown" style="visibility: hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <!-- start form for validation -->
                    <!-- 撈資料庫的 -->

                    <div class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BooksInfo">
                                BooksInfo
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BooksNo" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    No 1
                                </p>
                                <p type="text" id="Counts" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    1 本
                                </p>
                                <p type="text" id="UnitPrice" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">
                                    350 元
                                </p>
                            </div>
                        </div>

                    </div>

                    <!-- end form for validations -->

                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Back-Script/BackCustomerDetails")

