
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_BackStageLayout.cshtml";
}

@Styles.Render("~/Back-css/BackCustomerIndex")
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>產品管理系統</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>產品總覽<a href="productCReate.html"><small>Create new product</small></a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown" style="visibility: hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>BookID</th>
                                <th>BooksName</th>
                                <th>ISBN</th>
                                <th>UnitPrice</th>
                                <th>InStock</th>
                                <th>Discount</th>
                                <th>Action</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>CH0001</td>
                                <td>安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說</td>
                                <td>9789869581585</td>
                                <td>$380.00</td>
                                <td>30</td>
                                <td>0.79</td>
                                <td style="text-align: center">
                                    <a href="productDetails.html" type="button" class="btn btn-info btn-xs">明細</a>

                                    <a href="productEdit.html" type="button" class="btn btn-warning btn-xs">修改</a>

                                    <a href="productDelete.html" type="button" class="btn btn-danger btn-xs">刪除</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Back-Script/BackCustomerIndex")

