<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b68ec7bd-77d1-45a1-9ee2-8c60b15e19fe/resourcegroups/bsMvcShopping/providers/Microsoft.Web/sites/MvcProjectTest20190604123944</ResourceId>
    <ResourceGroup>bsMvcShopping</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvcprojecttest20190604123944.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcprojecttest20190604123944.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MvcProjectTest20190604123944</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MvcProjectTest20190604123944</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="bsmobile" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bsmobile.database.windows.net,1433;Initial Catalog=bsmobile;Persist Security Info=False;User ID=bsadmin;Password=As29788689;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:bsmobile.database.windows.net,1433;Initial Catalog=bsmobile;Persist Security Info=False;User ID=bsadmin;Password=As29788689;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bsmobile.database.windows.net,1433;Initial Catalog=bsmobile;Persist Security Info=False;User ID=bsadmin;Password=As29788689;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\bsmobile_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:bsmobile.database.windows.net,1433;Initial Catalog=bsmobile;Persist Security Info=False;User ID=bsadmin;Password=As29788689;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="bsmobile-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bsmobile.database.windows.net,1433;Initial Catalog=bsmobile;Persist Security Info=False;User ID=bsadmin;Password=As29788689;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>